<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAIR Grid Tool</title>
</head>
<body>
<h2>FAIR Grid Tool</h2>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="{% static 'jquery.js' %}"></script>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
    {% csrf_token %}

    <p>
    1. My project/activity will produce the following (referred to below collectively as ‘Products’):

    {{ product_form.product }}
    </p>

    <p>
    1.a. What is the name of your project/activity?

    {{ project_form.name }}
    </p>

    <p>
    2. Primary Domain related to the project:

    {{ project_form.primary_domain }}
    </p>


    <input type="submit" value="Submit" />
</form>

</body>
</html>
