<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAIR Grid Tool</title>
</head>
<body>
<h2>FAIR Grid Tool</h2>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="{% static 'jquery.js' %}"></script>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
    {% csrf_token %}

    <p>
    1. My project/activity will produce the following (referred to below collectively as ‘Products’):

    {{ product_form.product }}
    </p>

    <p>
    1.a. What is the name of your project/activity?

    {{ project_form.name }}
    </p>

    <p>
    2. Primary Domain related to the project:

    {{ project_form.primary_domain }}
    </p>

    <p>
    3. I have a way to obtain a Digital Object Identifier (DOI):

    {{ project_form.obtain_doi }}
    {{ project_form.obtain_doi_other }}
    </p>


    <input type="submit" value="Submit" />
</form>

<script>
// Hide all elements that need to be hidden by default
$( "#id_obtain_doi_other" ).hide();

// Show/Hide obtain_doi_other if Other selected
$( "#id_obtain_doi" ).change(function() {
    if ( $( "#id_obtain_doi option:selected" ).val() == "4" ) {
       $( "#id_obtain_doi_other" ).show();
       $( "#id_obtain_doi_other" ).prop('required', true);
    } else {
        $( "#id_obtain_doi_other" ).hide();
        $( "#id_obtain_doi_other" ).prop('required', false);
    }
});
</script>

</body>
</html>
